@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  width: 100%;
  font-size: 16px
}

.todos-filter {}

.todos-filter h1 {}

form {
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  font-size: 18px;
}


ul {
  margin: 20px 0 0 0;
  font-size: 16px;
}

li {
  border-bottom: 0.2px #fff solid;
  width: 100%;

}


li:first-child {}

.box {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(235, 24%, 19%);
  padding: 15px;
  height: 70px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline;
  border-radius: 50%;
}

p {
  display: inline;
  margin-left: 20px;
}

p.completed {
  text-decoration: line-through;
  color: hsl(234, 11%, 52%);
}

/* input[type="checkbox"].completed  {
  
} */

.delete {
  font-size: 30px;
  cursor: pointer;
  color: #bbb;
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.footer {
  color: #bbb;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.active {
  color: hsl(220, 98%, 61%);
}

.links div {
  padding: 10px;
  cursor: pointer;
}

.links div:hover {
  color: hsl(236, 33%, 92%);
}

.clearCompleted {
  cursor: pointer;
}

.box.welcomeMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  text-align: center;
  font-size: large;
  box-shadow: 5px 5px 20px hsl(234, 11%, 52%);
  margin-top: 150px;
}

.welcomeMessage div {
  font-size: 100px;
}




@media (max-width:600px) {

  body {
    background-image: url('./images/bg-mobile-dark.jpg');
  }

  .container {
    margin: auto;
    width: 450px;
    padding: 20px;
  }

  footer.box {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100px;
  }

  .links div {
    padding: 5px 30px;
  }

  .links {
    width: 100%;
    border-bottom: 0.2px dotted hsl(220, 98%, 61%);
    border-top: 0.2px dotted hsl(220, 98%, 61%);
  }

}